.rules {
    box-shadow: 2px 2px 5px #ddd;
    padding: 30px;
    background-color: #fbfcfa;
    border: 1px solid #ddd;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    ul {
        margin: 1em 0;
        padding-left: 40px;
        list-style: disc;
    }
}
