.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #dbdbdb;
}

.title {
    padding-left: 30px;
    border-left: 4px solid #f55e45;
}
